.word {
  position: absolute;
  font-family: monospace;
  font-size: 1.77em;
}

.word > span.pressed {
  color: yellow;
}

.game > .word {
  position: absolute;
  font-family: monospace;
  font-size: 1.77em;
  background-color: rgba(228,228,228,1);

}

.game > .word > span.pressed {
  color: yellow;
}

#score {
  position:absolute;
  top: 20%;
  left: 90%;
  font-size: 2.77em;

}

#line {
  position:absolute;
  top: 800px;
  width: 100%;
  border: solid;
  height: 1px;

}

body.game {

}

#game {
  height: 440px;
  width: 900px;
}
